<tr id="{{formid}}_recordset_{{id}}" title="{{filename}} {{addFileInfo}}">
    <td style="width: 30px;">
        <img alt="" src="{{icon}}" />
    </td>
    <td>
        <a href="{{url}}{{href}}" id="title_{{id}}">
            {{description}}
        </a>
    </td>
    <td style="width: 100px;">
        {{#if deleteAllowed}}
        <button
            type="button"
            class="btn btn-danger btn-sm"
            data-toggle="modal"
            data-target="#deleteDialogModal"
            data-url="{{url}}"
            data-item-id="{{id}}"
            data-form-id="{{formid}}"
        >löschen</button>
        {{/if}}
    </td>
</tr>

